$libertyGreen: #b7e4cf;
$hoverLibertyGreen: darken($libertyGreen, 10%);
$activeLibertyGreen: darken($libertyGreen, 15%);
$outlineLibertyGreen: desaturate(darken($libertyGreen, 30%), 15%);
$textLibertyGreen: darken($libertyGreen, 70%);
