canvas {
    display: block;
    position: relative;
    pointer-events: none;
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
}

.buttonContainer {
    display: inline-block;
}

button {
    padding: 5px 10px;
    font-size: 20px;
}
