@import '../styles/variables';

.progress-wrapper {
    display: flex;
    align-items: center;

    .progress {
        width: 80%;
        background-color: rgba(255, 255, 255, 0.3);
        height: 0.7em;
        border-radius: 0.25em;
        overflow: hidden;
        display: flex;
        flex-direction: row;

        .bar {
            background-color: $libertyGreen;
            flex: 0 0 auto;
            // If this is longer than the animation for fading the question, safari will render the input offset for some reason...
            transition: width 200ms ease-in-out;
            width: 0;
        }
    }

    .label {
        width: 20%;
        padding-right: 0.75em;
        padding-bottom: 0.1em;
        font-size: 0.8em;
        text-align: right;
    }
}
