@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/variables';

.quiz {
    padding: 1em 0 2em;

    header {
        h1 {
            text-align: center;
            white-space: nowrap;

            & > * {
                vertical-align: middle;
            }

            @media (max-width: map-get($grid-breakpoints, 'md')) {
                $headerSize: 1.75em;
                .emoji {
                    font-size: $headerSize;
                }
                img {
                    height: 2 * $headerSize;
                }
            }
            @media (min-width: map-get($grid-breakpoints, 'md')) {
                $headerSize: 2.5em;
                .emoji {
                    font-size: $headerSize;
                }
                img {
                    height: 2 * $headerSize;
                }
            }

            img {
                display: inline-block;
                margin: 0 0.5em 1em;
            }

            .emoji {
                display: inline-block;
            }
        }

        &.reflect {
            .emoji,
            img {
                transform: scale(-1, 1);
            }
        }
    }
}
